html {
    position: relative;
    min-height: 100%;
}
body {
  margin-bottom: 2em; /* Margin bottom by footer height */
}
canvas {
  position: absolute;
  z-index: -1000;
}
#particles-js {
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.container-fluid{
  padding: 0;
  width:70%;
  position: absolute;
  margin: 0 15%;
  z-index: 1000;
}
.jumbotron-fluid{
  padding: 1.95em;
  background-color: #f5f5f5;
}
#matchfield{
  display: none;
  max-height: 100%; 
  overflow: hidden;
}
#createQuestions{
  display: none;
}
.footer {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  width: 100%;
  height: 2em; /* Set the fixed height of the footer here */
  line-height: 2em; /* Vertically center the text there */
  background-color: #333;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class="container-fluid"] {
      width: 100%;
      margin: 0;
  }
}